/* Main navigation
================================================== */
nav {}
.main-nav-check,
.mobile-nav ,
.toggle-menu {
  display: none;
}
ul.menu { 
  list-style: none;
  li {
    float:left;
    position: relative;
  }
  li a{ 
    background:$nav_bg;
    text-align:center; 
    line-height: 2em; 
    float:left; 
    color:$nav_color; 
    padding:0px; 
    display:block; 
    text-decoration:none; 
    position: relative;
    width:100%; 
  }
  li.current_page_item a,
  li.current-menu-item a,
  li.current-menu-parent a,
  li a:hover,  
  li a:focus{
    color:$nav_hover_color; 
    background:$nav_hover_bg;
  } 
  ul.sub-menu{ 
    margin: 3.5em 0 0 0; 
    position:absolute; 
    z-index: 100;  
    font-size: inherit; 
    list-style: none;
    li{ 
      margin: 0; 
      width:100%; 
      background: rgba($nav_dropdown_color, 0.9)*.9;
    } 
    li:before{
      background-color: none;
      display: none;
    }
    li:hover:before{
      background-color: none;
      display: none;
    }
    li a{
      background:none; 
      color:$nav_color;
    }
    li.current_page_item > a,
    li.current-menu-item > a,
    li > a:hover, 
    li > a:focus{
      background:$nav_hover_bg; 
      color:$nav_hover_color;
    }
    ul.sub-menu{ 
      margin:  0 0 0 100%; 
      width: 100%;  
    }    
  }    
}


/* Mobile navigation
================================================================================================ */

@media only screen and (max-width: $teenbreak) {
  nav .container {
    width: 100%;
  }
  .main-nav,
  .navarea {
    display: none;
  }
  .mobile-nav{
    display: block;
    z-index: 100;
    position: relative;
    top: 0px;
    width: 90%;
    margin: 0 5%;
    height:auto;
    background: #3B3B3B;
    overflow: hidden;
    transition: all 0.3s ease;
    &:after {
      content: "";
      position: absolute;
      top: 0;
      right: 0;
      height: 100%;
      width: 34px;
      background: linear-gradient(left, rgba(black, 0), rgba(black, 0.4));
    }
    ul.menu  {
      margin:0; 
      overflow:hidden; 
      list-style: none;
      li {
        float:left; 
        margin:0; 
        width:100%; 
        list-style: none;
      }
      li a{
        font-family: arial;
        text-align:left; 
        float:left;  
        display:block; 
        overflow:hidden; 
        text-decoration:none; 
        width:100%;
        padding: 0;
        display: block;
        line-height: 0; 
        font-size: 0;
        background: linear-gradient(#3E3E3E, #383838) !important;
        border-top: 0px solid #484848;
        border-bottom: 0px solid #2E2E2E;
        color: #fff;
        transition: all 0.3s ease;
        &:hover, &:focus {
          background: linear-gradient(#484848, #383838);
        }
      }
      li.current_page_item a,
      li.current-menu-item a,
      li.current-menu-parent a,
      li a:hover,  
      li a:focus{
        color:$nav_hover_color; 
        background: none; 
      }
      ul.sub-menu{ 
        margin:0; 
        display: block !important; 
        position: relative; 
        z-index: 100;  
        font-size: inherit; 
        border:none; 
        width:98%; 
        list-style: none;    
        li{ 
          margin: 0; 
          width: 100%; 
          background:none;
        } 
        li a{
          background:none; 
          color:$nav_color;  
          text-indent: 25px
        }
        li.current_page_item > a,
        li.current-menu-item > a,
        li > a:hover, 
        li > a:focus{
          background: none; 
          color:$nav_hover_color; 
          background: none;
        }
        ul.sub-menu{ 
          margin:  0; 
          position: relative; 
        }  
        ul.sub-menu li a{
          text-indent: 50px
        }  
      }
    }
  }
  .topbar {
    margin-top:30px;
    }  
  .toggle-menu { 
    font-size: 1.5em;
    cursor: pointer;
    display:block;
    background: #fff;
    overflow: hidden;
    padding: 2% 5%; 
    top: 0;
    z-index:1000;
  }
  .main-nav-check {
    display: none;
  }
  .close-menu {
    display: none;
  }
  #main-nav-check:checked + #mobile-nav a {
    line-height: 3em;
    font-size: inherit; 
    padding: 0 0 0 10px;
    border-top: 1px solid #484848;
    border-bottom: 1px solid #2E2E2E;
  }
  #main-nav-check:checked ~ .page-wrap {
    position: relative;
    .open-menu {
      display: none;
    }
    .close-menu {
      display: block;
    }
    .main-header {
      width: 80%;
      left: 20%;
    }
  }
}