/* Main navigation
================================================== */
nav {}
.main-nav-check,
.mobile-nav ,
.toggle-menu {
  display: none;
}
ul.menu { 
  list-style: none;
  li {
    float:left;
    position: relative;
  }
  li a{ 
    background:$nav_bg;
    text-align:center; 
    line-height: 2em; 
    float:left; 
    color:$nav_color; 
    padding:0px; 
    display:block; 
    text-decoration:none; 
    position: relative;
    width:100%; 
  }
  li.current_page_item a,
  li.current-menu-item a,
  li.current-menu-parent a,
  li a:hover,  
  li a:focus{
    color:$nav_hover_color; 
    background:$nav_hover_bg;
  } 
  ul.sub-menu{ 
    margin: 3.5em 0 0 0; 
    position:absolute; 
    z-index: 100;  
    font-size: inherit; 
    list-style: none;
    li{ 
      margin: 0; 
      width:100%; 
      background: rgba($nav_dropdown_color, 0.9)*.9;
    } 
    li:before{
      background-color: none;
      display: none;
    }
    li:hover:before{
      background-color: none;
      display: none;
    }
    li a{
      background:none; 
      color:$nav_color;
    }
    li.current_page_item > a,
    li.current-menu-item > a,
    li > a:hover, 
    li > a:focus{
      background:$nav_hover_bg; 
      color:$nav_hover_color;
    }
    ul.sub-menu{ 
      margin:  0 0 0 100%; 
      width: 100%;  
    }    
  }    
}


/* Mobile navigation
================================================================================================ */
$mobilebg:#3B3B3B;

@media only screen and (max-width: $teenbreak) {
  nav .container {
    width: 100%;
  }
  .main-nav,
  .navarea {
    display: none;
  }
  .mobile-nav{
    display: block;
    z-index: 100;
    position: relative;
    top: 0px;
    width: 90%;
    margin: 0 5%;
    height:auto;
    background: $mobilebg;
    overflow: hidden;
    transition: all 0.3s ease;
    ul.menu  {
      margin:0; 
      overflow:hidden; 
      list-style: none;
      li {
        float:left; 
        margin:0; 
        width:100%; 
        list-style: none;
      }
      ul.sub-menu li a,
      li a{
        font-family: arial;
        text-align:left; 
        float:left;  
        display:block; 
        overflow:hidden; 
        text-decoration:none; 
        width:100%;
        padding: 0 0 0 2%;
        display: block;
        line-height: 0; 
        font-size: inherit; 
        background: none;
        border-top: 0px solid #484848;
        border-bottom: 0px solid #2E2E2E;
        color: #fff;
        transition: all 0.3s ease;
        &:hover, 
        &:focus {
         
        }
      }
      li.current_page_item a,
      li.current-menu-item a,
      li.current-menu-parent a,
      li a:hover,  
      li a:focus{
        color:$nav_hover_color; 
        background: none; 
      }
      ul.sub-menu{ 
        margin:0; 
        position: relative; 
        z-index: 100;  
        font-size: inherit; 
        border:none; 
        width:100%; 
        list-style: none;    
        li{ 
          margin: 0; 
          width: 100%; 
          background:none;
          background:lighten($mobilebg, 10%);
        } 
        li a{
          color:$nav_color;  
          text-indent: 25px;
        }
        li.current_page_item > a,
        li.current-menu-item > a,
        li > a:hover, 
        li > a:focus{
          color:$nav_hover_color; 
        }
        ul.sub-menu{ 
          margin:  0; 
          position: relative; 
        } 
        ul.sub-menu li {
          background:lighten($mobilebg, 20%);
        }  
        ul.sub-menu li a{
          text-indent: 50px;
        }  
      }
    }
  }
  .topbar {
    margin-top:30px;
    }
  .mobile-nav ul.menu ul.sub-menu li.menu-item-has-children > a,  
  .mobile-nav ul.menu li.menu-item-has-children > a{
    width:83%;
    float:left;
  }
  .mobile-nav ul.menu ul.sub-menu li.menu-item-has-children a.navdrop,
  .mobile-nav ul.menu li.menu-item-has-children a.navdrop{
    width: 12%;
    text-indent: 0px;
    float: right;
    font-family: 'FontAwesome';
    background:lighten($mobilebg, 10%);
    text-align: center;
    padding:0;
    span{display:none;}
    &:after{ content: "\f055";}
  }
  .mobile-nav ul.menu  li.menu-item-has-children li.menu-item-has-children a.navdrop{
    background:lighten($mobilebg, 20%);
  }
  .toggle-menu { 
    font-size: 1.5em;
    cursor: pointer;
    display:block;
    background: #fff;
    overflow: hidden;
    padding: 2% 5%; 
    top: 0;
    z-index:1000;
    box-shadow: 0px 6px 19px rgba(0,0,0,0.2);
    &:before {
      margin-right: .3333em;
      content: "\f055";
      font-family: 'FontAwesome';
      transition: all 0.3s ease;
    }
  }

  .main-nav-check {
    display: none;
  }
  .close-menu {
    display: none;
  }
  #main-nav-check:checked ~ #mobile-nav a {
    line-height: 3em;
  }
  #main-nav-check:checked ~ .toggle-menu:before {
    content: "\f056";
    }
}
