/* Main navigation
================================================== */
@media only screen and (min-width: $teenbreak) {
  nav {}
  .main-nav-check,
  .mobile-nav ,
  .toggle-menu {
    display: none;
  }
  ul.menu { 
    list-style: none;
    li {
      float:left;
      position: relative;
    }
    li a{ 
      background:$nav_bg;
      text-align:center; 
      line-height: 2em; 
      float:left; 
      color:$nav_color; 
      padding:0px; 
      display:block; 
      text-decoration:none; 
      position: relative;
      width:100%; 
    }
    li.current_page_item a,
    li.current-menu-item a,
    li.current-menu-parent a,
    li a:hover,  
    li a:focus{
      color:$nav_hover_color; 
      background:$nav_hover_bg;
    } 
    ul.sub-menu{ 
      margin: 3.5em 0 0 0; 
      position:absolute; 
      z-index: 100;  
      font-size: inherit; 
      list-style: none;
      li{ 
        margin: 0; 
        width:100%; 
        background: rgba($nav_dropdown_color, 0.9)*.9;
      } 
      li:before{
        background-color: none;
        display: none;
      }
      li:hover:before{
        background-color: none;
        display: none;
      }
      li a{
        background:none; 
        color:$nav_color;
      }
      li.current_page_item > a,
      li.current-menu-item > a,
      li > a:hover, 
      li > a:focus{
        background:$nav_hover_bg; 
        color:$nav_hover_color;
      }
      ul.sub-menu{ 
        margin:  0 0 0 100%; 
        width: 100%;  
      }    
    }    
  }
}

/* Mobile navigation
================================================================================================ */
@media only screen and (max-width: $teenbreak) {
  nav .container {
    width: 100%;
  }
  .main-nav,
  .navarea {
    display: none;
  }
  .mobile-nav{
    display: block;
    z-index: 100;
    position: relative;
    top: 0px;
    width: 90%;
    margin: 0 5%;
    height:auto;
    background: $mobilebg;
    overflow: hidden;
    transition: all 0.3s ease;
    ul.menu  {
      margin:0; 
      overflow:hidden; 
      list-style: none;
      li {
        float:left; 
        margin:0; 
        width:100%; 
        list-style: none;
         a{
          font-family: arial;
          text-align:left; 
          float:left;  
          display:block; 
          overflow:hidden; 
          text-decoration:none; 
          width:100%;
          padding: 0 0 0 2%;
          display: block;
          font-size: inherit; 
          color: #fff;
        }
      }
      li.menu-item-has-children > a{
        width:86%;
        float:left;
      }
      li.menu-item-has-children a.navdrop,
      li.menu-item-has-children a.navdropover{
        width: 12%;
        text-indent: 0px;
        float:right;
        font-family:'FontAwesome';
        background:lighten($mobilebg, 10%);
        text-align: center;
        padding:0;
        border: 0 solid $mobilebg;
        span{display:none;}
        &:after{ content: "\f055";}
        &:before{content: "";}
      }
      li.menu-item-has-children a.navdropover{
        &:after{ content: "\f056";}
        &:before{content: "";}
      }
      li.menu-item-has-children li.menu-item-has-children a.navdrop,
      li.menu-item-has-children li.menu-item-has-children a.navdropover{
        background:lighten($mobilebg, 20%);
        border: 0 solid lighten($mobilebg, 10%);
        text-indent: 0px;
        &:before{content: "";}
      }
      li.menu-item-has-children li.menu-item-has-children  li.menu-item-has-children a.navdrop,
      li.menu-item-has-children li.menu-item-has-children  li.menu-item-has-children a.navdropover{
        background:lighten($mobilebg, 30%);
        border: 0 solid lighten($mobilebg, 20%);
        text-indent: 0px;
        &:before{content: "";}
      }
      ul.sub-menu{ 
        margin:0; 
        position: relative; 
        z-index: 100;  
        font-size: inherit; 
        border:none; 
        width:100%; 
        list-style: none;    
        li{ 
          margin: 0; 
          width: 100%; 
          background:lighten($mobilebg, 10%);
          a{
          color:$nav_color;  
          text-indent: 10px;
          &:before{content: "- ";}
          }
        } 
        ul.sub-menu{ 
          margin:  0; 
          position: relative; 
          li {
            background:lighten($mobilebg, 20%);
            a{ 
            text-indent: 20px;
            &:before{content: "-- ";}
            }
          }
          ul.sub-menu{ 
            margin:  0; 
            position: relative; 
            li {
              background:lighten($mobilebg, 30%);
              a{ 
              text-indent: 30px;
              &:before{content: "--- ";}
              }
            }
          }
        }  
      }
    }
  }
  /* Mobile topbar
  ======================= */
  .topbar {
    margin-top:30px;
    }
  .toggle-menu { 
    font-size: 1.5em;
    cursor: pointer;
    display:block;
    background: #fff;
    overflow: hidden;
    padding: 2% 5%; 
    top: 0;
    z-index:1000;
    box-shadow: 0px 6px 19px rgba(0,0,0,0.2);
    &:before {
      margin-right: .3333em;
      content: "\f055";
      font-family: 'FontAwesome';
      transition: all 0.3s ease;
    }
  }
  .main-nav-check {
    display: none;
  }
  .close-menu {
    display: none;
  }

  /* Mobile navigation Animations
  ================================== */
  #main-nav-check ~ .mobile-nav ul.menu li a {
    line-height: 0em;
    border-bottom: 0px solid darken($mobilebg, 10%);
    transition: all 0.3s ease;
  }
  #main-nav-check:checked ~ .mobile-nav ul.menu li a {
    line-height: 3em;
    border-bottom: 1px solid darken($mobilebg, 10%);
    transition: all 0.3s ease;
  }
  #main-nav-check:checked ~ .mobile-nav ul.menu li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.menu li a.navdropover{
    line-height: 2.75em;
    border-width:0.25em 0 0 0;
    transition: all 0.3s ease;
  }


  #main-nav-check:checked ~ .mobile-nav ul.subhide li a,
  #main-nav-check:checked ~ .mobile-nav ul.subshow ul.subhide li a,
  #main-nav-check:checked ~ .mobile-nav ul.subhide ul.subshow li a
  {
    line-height: 0;
    border-bottom: 0 solid darken($mobilebg, 10%);
    transition: all 0.3s ease;
  }
  #main-nav-check:checked ~ .mobile-nav ul.subshow li a{
    line-height: 3em;
    border-bottom: 1px solid darken($mobilebg, 10%);
    transition: all 0.3s ease;
  }
  #main-nav-check:checked ~ .mobile-nav ul.subhide li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.subhide li a.navdropover,
  #main-nav-check:checked ~ .mobile-nav ul.subshow ul.subhide li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.subshow ul.subhide li a.navdropover, 
  #main-nav-check:checked ~ .mobile-nav ul.subhide ul.subshow li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.subhide ul.subshow li a.navdropover {
    border-width:0;
    line-height:0;
    transition: all 0.3s ease;
  }
  #main-nav-check:checked ~ .mobile-nav ul.subshow li a.navdrop,
  #main-nav-check:checked ~ .mobile-nav ul.subshow li a.navdropover{
    border-width:0.25em 0 0 0;
    line-height: 2.75em;
    transition: all 0.3s ease;
  }

  #main-nav-check:checked ~ .toggle-menu:before {
    content: "\f056";
    }
}
